global
  user root
  group root
  maxconn 2000
  daemon

defaults
  log     global
  mode    http
  option  forwardfor
  option  contstats
  option  http-server-close
  option log-health-checks
  retries 3
  option  redispatch
  timeout connect  5000
  timeout client  10000
  timeout server  10000
 
  # make sure log-format is on a single line
  log global
  log-format {"type":"haproxy","timestamp":%Ts,"http_status":%ST,"http_request":"%r","remote_addr":"%ci","bytes_read":%B,"upstream_addr":"%si","backend_name":"%b","retries":%rc,"bytes_uploaded":%U,"upstream_response_time":"%Tr","upstream_connect_time":"%Tc","session_duration":"%Tt","termination_state":"%ts"}

backend rancher
  balance roundrobin
  server rancher-1 127.0.0.1:8080 check

frontend https
  bind *:443
  mode tcp
  default_backend rancher

frontend http
  bind *:80
  mode http
  default_backend rancher

listen stats
  bind *:1936
  stats enable
  stats uri /
  stats hide-version
  stats auth {{haproxy_user}}:{{haproxy_pass}}
